.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.title-wrapper {
    font-size: 4em;
    text-align: center;
    background-color: black;
    color: white;
    align-self: stretch;
}

#page-title {
    vertical-align: -moz-middle-with-baseline;
}

.content-wrapper {
    background-color: lightgrey;
}

.content {
    display: flex;
    flex: 1 1 auto;
    width: 800px;
    background-color: white;
}

.input,
textarea{
    border: 0;
    outline: 0;
    box-sizing: border-box;
    width: 100%;
}

textarea {
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
}

input:focus {
    outline: none;
    background-color: darkblue;
}

#add {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#add:hover {
    font-size: larger;
    background-color: lightgrey;
}