.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    gap: 1em;
}

.title-wrapper {
    font-size: 4em;
    text-align: center;
    background-color: black;
    color: white;
}

#page-title {
    vertical-align: -moz-middle-with-baseline;
}

.content {
    display: flex;
    flex: 1 1 auto;
    border: 0.2em solid black;
    margin: 0em 8em;
}