.user-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: stretch;
    border: 0.2em solid black;
    min-width: 0;
    padding-left: 1em;
    padding-top: 10px;
    padding-right: 0.5em;
}

.user-info>#exp-header,
.user-info>#edu-header {
    color: rgb(45, 61, 105);
    border-top: 2px lightgrey solid;
    border-bottom: 2px rgb(236, 231, 231) solid;
    padding: 5px;
}

.user-info *>input:focus {
    background-color: lightyellow;
}

.profile-description>* {
    resize: none;
}

.education,
.experience {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
}

/* .userHeader {
    border-left: 0.2em solid black;
    border-bottom: 0.2em solid black;
} */

#name {
    font-size: 2.5em;
}

.user-info>#name,
.user-info>#title {
    text-align: center;
    box-sizing: border-box;
}

textarea {
    border: 0;

}
