.user-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: stretch;
    border: 0.2em solid black;
    min-width: 0;
}

.profile-description {
    padding: 1em;
}

.profile-description>* {
    resize: none;
}

.education,
.experience {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
}

/* .userHeader {
    border-left: 0.2em solid black;
    border-bottom: 0.2em solid black;
} */

#name {
    font-size: 2.5em;
}

.user-info>#name,
.user-info>#title {
    text-align: center;
    box-sizing: border-box;
}

textarea {
    border: 0;

}